.calendar {
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .days, .body {
    display: flex;
    justify-content: space-around;
  }

  .row {
    display: flex;
    flex-direction: row; /* Explicitly set the direction to row */
    justify-content: space-around;
    width: 100%; /* Ensure the row takes full width */
  }
  
  .column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cell {
    padding: 8px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .selected {
    background-color: #9fa8da;
  }
  
  .disabled {
    color: rgb(58, 58, 58)
  }
  