.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  color: white; /* Set the default text color for the entire page */
  font-family: 'Gowun Batang', serif;
  background: linear-gradient(55deg, #2c015d 0%, #110222 51%, #032027 85%);
}

.gradient-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Set height to auto */
  background: linear-gradient(55deg, #2c015d 0%, #05303b 51%, #2c015d 85%);
  background-size: 200% 100%;
  animation: gradientScroll 20s cubic-bezier(0.3, 0.3, 0.3, 0.3) infinite;
  overflow: hidden;
  z-index: -1;
}

@keyframes gradientScroll {
  0%, 100% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
}
.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-family: 'UnifrakturMaguntia', cursive;
  /* color: rgb(0, 124, 191); */
  text-shadow: 0 0 10px rgb(49, 4, 88), 0 0 20px goldenrod, 0 0 30px rgb(136, 0, 255);
}

@keyframes flicker {
  0%, 100% {
      text-shadow:
          0 0 10px rgb(136, 0, 255), /* Brighter and larger */
          0 0 20px rgb(94, 2, 171), /* Brighter and larger */
          0 0 30px rgb(49, 4, 88), /* Brighter and larger */
          0 0 40px rgb(26, 20, 64), /* Brighter and larger */
          0 0 50px #05303b, /* Brighter and larger */
          0 0 60px rgb(34, 48, 77), /* Brighter and larger */
          0 0 70px rgb(136, 0, 255); /* Brighter and larger */
  }
  50% {
      text-shadow:
          0 0 20px rgb(136, 0, 255), /* Brighter and larger */
          0 0 30px rgb(49, 4, 88), /* Brighter and larger */
          0 0 40px #05303b; /* Brighter and larger */
  }
}

.titleText {
  color: rgb(236, 215, 255);
  text-shadow: 
      0 0 10px rgb(136, 0, 255),
      0 0 20px rgb(94, 2, 171),
      0 0 30px rgb(49, 4, 88),
      0 0 40px rgb(26, 20, 64),
      0 0 50px #05303b,
      0 0 60px rgb(34, 48, 77),
      0 0 70px rgb(136, 0, 255);
  animation: flicker 1.5s infinite alternate;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 75px;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #883cfbcd;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #c197ffcd;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 17px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.horizontal-slider .example-thumb:hover::after {
  content: attr(data-info);
  color:#282c34;
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 5px;
  border: 1px solid #3774ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.horizontal-slider .example-thumb:hover::after,
.horizontal-slider .example-thumb:active::after {
  content: attr(data-info);
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 5px;
  border: 1px solid #3774ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.horizontal-slider .example-thumb:hover::after {
  opacity: 1;
}

.value-display {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.slider-title {
  text-align: center;
  margin-bottom: 10px;
}

.slider-title:hover::after,
.slider-title:active::after {
  content: attr(data-info);
  position: absolute;
  color:#282c34;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 5px;
  border: 1px solid #3774ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.slider-title:hover::after {
  opacity: 1;
}

.submit-button {
  padding: 10px 20px;
  background-color: #5500e7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.tos-button {
  padding: 10px 20px;
  background-color: #5500e7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-left: calc(50% - 20px);
}

.submit-button:hover {
  background-color:#057e93;
}

.slider-form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.terms-container {
  position: fixed;
  top: 10%;
  left: 25%;
  color: #032027;
  margin-bottom: 20px;
  width: 50%;
  height: 75%;
  padding: 50px;
  background-color: white;
  z-index: 2000;
  overflow-y: scroll;
}

.terms-of-service {
  color: #032027;
}

.tos-button-container {
  margin-top: 5px;
}